@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
*{
  font-family: 'Raleway', sans-serif;

}
body {
  transition: background-color 1s ease-in;
  background-color: #9ccef3;
  margin: 0;
}

#input {
  border: 0;
  height: 40px;
  width: 10%;
  background-color:  #769edb;
  font-size: large;
  text-align: center;
}

.error{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.error img{
  width: 200px;
  height: 200px;
}


input:focus {
  outline: none !important;
}
input:hover {
  border-style: none;
}
input::placeholder {
  color: #fff;

}

input:focus::placeholder {
  color: transparent;
  border-bottom: 1px solid #000000;
}

textarea:focus,
input:focus {
  color: rgb(255, 255, 255);
  border-bottom: 2px solid #000000;
}

form {
  margin-left: 2%;
  margin-top: 2%;
}

header {
  transition: background-color 1s ease-in;
  color: white;
  background-color: #769edb;
  display: flex;
  padding-bottom: 1%;
  flex-direction: column;
}


header button {
  padding:0.8rem 1.5rem 0.8rem 1.5rem ;
  transition: background-color 1s ease-in;
  margin-left: 3%;
  background-color: #5878c8;
  border: #6495ed; 
  font-weight: bold;

}




#hours {
  display: flex;
  justify-content: space-evenly;
  margin-top: 7%;
  font-weight: bold;
  padding-bottom: 2.5%;
}

#hours img {
  width: 80px;
  height: 80px;
}

#hours p {
  font-size: 1.2rem;
  margin-left: 20px;
}

#weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  font-weight: bold;


}

#weather img {
  width: 200px;
  height: 200px;
}

#weather h3{
color: rgb(255, 255, 255);
font-size: 25px;
font-weight: bolder;
}

#weather h2 ,h4 {
  color:#030348;
}


@media only screen and (max-width: 600px) {
  header button {
  margin-left: 35%;
  }

  #input {
  width: 30%;
  }

  #weather img {
    width: 35%;
  }

 #hours {
  margin-top: 25%;
 }
  #hours img{
width: 80%;
  }

  #hours p{
    font-size: medium;
  }
}